DJANGO_SECRET_KEY=your_django_secret_key_here
YANDEX_CLIENT_ID=your_yandex_client_id_here
YANDEX_CLIENT_SECRET=your_yandex_client_secret_here
YANDEX_REDIRECT_URI=http://127.0.0.1:8000/api/v1/oauth/yandex/callback/